.main-container {
  text-align: center;
}
.output {
  font-size: 50px;
}
.output-flex {
  display: flex;
  flex-direction: column;
}
.output {
  display: flex;
  justify-content: center;
}
span.date-text {
  font-size: 15px;
}